@import "mixins";
@import "global";

.header{
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 100;
  width: 100%;
  transition: .3s;
  .wrapper{
    max-width: 1110px;
    .header-info{
      @include flex;
      @include align-center;
      padding: 12px 20px;
      background: #D9D9D9;
      border-radius: 6px;
    }
    .logo{
      @include flex;
      margin-right: 10px;
      @media(max-width: 1500px){
       width: 120px;
       img{
        width: 100%;
       }
      }
    }
    .select-wrap{
      margin: 0 24px;
      @media(max-width: 1024px){
        margin: 0 12px;
       }
       @media(max-width: 767px){
        margin: 0;
        margin-right: 10px;
        margin-left: auto;
       }
    }
    .city{
      @include flex;
      @include align-center;
      font-size: 14px;
      color: #000;
      @media(max-width: 1024px){
        display: none;
       }
      img{
        margin-right: 5px;
        margin-top: 2px;
      }
    }
    .order-call-btn{
      padding: 4px 16px 6px;
      @include flex;
      @include align-center;
      background: #0E6131;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      border-radius: 40px;
      margin-left: auto;
      @media(max-width: 767px){
       display: none;
       }
       &:hover{
        background: lighten(#0E6131, 8%);
       }
      img{
        margin-right: 10px;
        width: 20px;
      }
    }
    .main-menu{
      @include flex;
      margin-top: -4px;
       @media(max-width: 1024px){
        position: absolute;
        top: 98%;
        left: 15px;
        overflow-y: auto;
        z-index: 100;
        background: #D9D9D9;
        width: calc(100% - 30px);
        height: 100vh;
        padding: 20px;
        @include dir-col;
        justify-content: flex-start;
        transform: scale(0);
        transition: .3s;
        &.open{
          transform: scale(1);
        }
       }
      li{
        margin-left: 30px;
        @media(max-width: 1024px){
          margin-bottom: 20px;
          margin-left: 0;
         }
        a{
          font-size: 14px;
          color: black;
          @media(max-width: 1024px){
            font-size: 18px;
           }
          &:hover{
            color: #0E6131;
          }
        }
      }
    }
  }
}

.banner{
  background: url(../img/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 140px 0;
  @media(max-width: 767px){
    padding-top: 100px;
    padding-bottom: 120px;
    min-height: 100svh;
    position: relative;
    z-index: 0;
    display: flex;
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background: rgba(black, .5);
      width: 100%;
      height: 100%;
    }
    }
  .wrapper{
    max-width: 1110px;
    @media(max-width: 767px){
      margin: auto;
    }
  }
  .big-logo{
    margin-bottom: 62px;
    @media(max-width: 1024px){
      margin-bottom: 50px;
      max-width: 400px;
     }
     @media(max-width: 767px){
      width: 100%;
      max-width: 270px;
      margin-bottom: 20px;
      }
  }
  span{
    font-size: 20px;
    color: white;
    display: block;
    margin-bottom: 2px;
    font-weight: normal;
    @media(max-width: 767px){
      font-size: 18px;
      }
  }
  b{
    display: block;
    color: white;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 60px;
    max-width: 230px;
    line-height: 110%;
    @media(max-width: 767px){
      margin-bottom: 40px;
      font-size: 30px;
      max-width: 200px;
      }
  }
  .green-btn{
    padding: 15px 30px;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    font-weight: normal;
    background: #258125;
    @media(max-width: 1024px){
      font-size: 18px;
     }
     @media(max-width: 767px){
      font-size: 16px;
      }
    &:hover{
      background: darken(#258125, 5%);
    }
  }
}

.bottom-section{
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  &:after{
    content: "";
    background: linear-gradient(180deg, #F7F7F7 0%,
     rgba(255, 255, 255, 0) 70%);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    @media(max-width: 1024px){
      background: linear-gradient(180deg, #F7F7F7 0%,
      rgba(255, 255, 255, 0) 30%);
     }
  }
  @media(max-width: 1300px){
    padding-top: 0;
   }
   > .wrapper{
    @media(max-width: 767px){
      padding: 0;
     }
   }

}

.request-wrap{
  margin-top: 150px;
  margin-bottom: 1300px;
  margin-left: auto;
  max-width: 680px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  @media(max-width: 1600px){
    margin-bottom: 40vw;
    margin-top: 100px;
   }
   @media(max-width: 767px){
    margin-bottom: 100px;
    margin-top: 50px;
   }
  .request-logo{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 60px;
    @media(max-width: 767px){
      margin-bottom: 30px;
      max-width: 250px;
     }
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
      width: 100%;
      border-radius: 50px;
      height: 80px;
      padding: 0 30px;
      background: #D9D9D9;
      margin-bottom: 30px;
      text-align: center;
      font-size: 28px;
      color: #F9F9F9;
      @include placeholder{
        color: #F9F9F9;
      }
      @media(max-width: 767px){
       font-size: 22px;
       height: 50px;
       padding: 0 20px;
       margin-bottom: 20px;
       }
    }
    button{
      margin-top: 20px;
      padding: 20px 40px;
      border-radius: 50px;
      color: #fff;
      background: #558860;
      font-size: 34px;
      font-weight: normal;
      @media(max-width: 767px){
        margin-top: 10px;
        font-size: 22px;
        padding: 14px 32px;
       }
      &:hover{
        background: darken(#558860, 8%);
      }
    }
  }
}

.footer-info{
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  @include flex;
  align-items: center;
  @media(max-width: 1300px){
    flex-direction: column;
  }
  @media(max-width: 1024px){
    bottom: 50px;
   }
   @media(max-width: 767px){
    bottom: 20px;
   }
  .logos{
    @include flex;
    align-items: center;
    @media(max-width: 767px){
      gap: 30px;
      img{
        width: 100px;
      }
     }
    .logo1{
      margin-right: 50px;
      @media(max-width: 767px){
        margin: 0;
       }
    }
    .logo2{
      max-width: 170px;
      width: 100%;
      margin-right: 50px;
      @media(max-width: 767px){
        margin: 0;
        max-width: 100px;
       }
    }
  }
  .links{
    @include flex;
    align-items: center;
    margin-left: auto;
    @media(max-width: 1300px){
      margin: 0 auto;
      margin-top: 30px;
    }
    @media(max-width: 767px){
      margin-top: 20px;
     }
    a{
      @include flex;
      align-items: center;
      color: white;
      font-size: 28px;
      font-weight: 300;
      margin-left: 50px;
      @media(max-width: 1600px){
        margin: 0 20px;
      }
      @media(max-width: 1024px){
        font-size: 20px;
       }
       @media(max-width: 767px){
       font-size: 12px;
       margin: 0 6px;
       }
      img{
        margin-right: 20px;
        @media(max-width: 1024px){
          margin-right: 10px;
         }
         @media(max-width: 767px){
          width: 14px;
          margin-right: 5px;
         }
      }
    }
  }
}

.footer{
  margin-top: auto;
  margin-bottom: 100px;
  @media(max-width: 1024px){
   margin-bottom: 20px;
   }
  .wrapper{
    position: relative;
    z-index: 1;
    @media(max-width: 1024px){
     width: 100%;
    }
    @media(max-width: 767px){
     padding: 0;
     }

  }
  .footer-img{
    width: 100%;
  }
}

.blue-logo{
  margin: 0 60px;
  @media(max-width: 1300px){
    display: none;
   }
}

.tab-wrapper{
  background: url(../img/tab-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-top: 60px;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;
  z-index: 0;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(255, 255, 255, 0) 100%
    );  
  }
  @media(max-width: 1300px){
    padding-bottom: 60px;
   }
  .tabs{
    text-align: center;
  }
}

.tabs__buttons {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  border-radius: 100px;
  background: #575757;
  margin-bottom: 110px;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.15);
  @media(max-width: 1600px){
    margin-bottom: 60px;
   }
   @media(max-width: 767px){
   margin-bottom: 30px;
   }
  button{
    padding: 22px 34px;
    border-radius: 100px;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    @media(max-width: 1024px){
      font-size: 22px;
     }
     @media(max-width: 767px){
      font-size: 12px;
      padding: 12px;
     }
  }
}

.tab-btn.active {
  background: #fff;
  color: #558860;
}

.tabs__content {
  position: relative;
}

.swiper-button-next, .swiper-button-prev{
  @media(max-width: 767px){
    width: 16px;
   }
}

.tab {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .4s ease, transform .4s ease;
  position: absolute;
  width: 100%;
  pointer-events: none;
  h2{
    color: white;
    max-width: 780px;
    width: 100%;
    margin: 0 auto 80px;
    font-size: 100px;
    font-weight: 600;
    @media(max-width: 1600px){
     font-size: 80px;
     margin-bottom: 50px;
     }
     @media(max-width: 1300px){
     font-size: 60px;
     }
     @media(max-width: 767px){
      font-size: 34px;
      margin-bottom: 30px;
     }
  }
  p{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto 20px;
    color: white;
    font-size: 26px;
    @media(max-width: 1600px){
      font-size: 24px;
     }
     @media(max-width: 767px){
      font-size: 16px;
     }
  }
  .info-list{
    max-width: 800px;
    width: 100%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    @media(max-width: 1600px){
      margin: 80px auto;
     }
     @media(max-width: 767px){
      margin: 40px auto;
     }
    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon{
        width: 120px;
        height: 120px;
        background: white;
        display: flex;
        margin-bottom: 15px;
        border-radius: 40px;
        padding: 20px;
        @media(max-width: 1600px){
          width: 130px;
          height: 130px;
         }
         @media(max-width: 1024px){
          width: 100px;
          height: 100px;
         }
         @media(max-width: 767px){
          width: 50px;
          height: 50px;
          padding: 0;
         }
        img{
          margin: auto;
          max-width: 100%;
          max-height: 100%;
          @media(max-width: 1600px){
            width: 70px;
           }
           @media(max-width: 1024px){
           width: 50px;
           }
           @media(max-width: 767px){
            width: 25px;
           }
        }
      }
      .text{
        max-width: 160px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: white;
        font-size: 22px;
        font-weight: 500;
        @media(max-width: 1024px){
          font-size: 20px;
         }
         @media(max-width: 767px){
          font-size: 12px;
         }
      }
    }
  }
  .wrap{
    border-radius: 30px;
    padding: 40px;
    background: white;
    @media(max-width: 767px){
      padding: 15px;
     }
  }
}

.div{
  height: 1500px;
  @media(max-width: 1700px){
    height: 70vw;
   }
   @media(max-width: 767px){
    height: 100vw;
   }
}

.tab.active {
  opacity: 1;
  transform: translateY(0);
  position: relative;
  pointer-events: auto;
}

.swiper{
  margin-bottom: 100px;
  @media(max-width: 1300px){
    margin-bottom: 50px;
   }
   @media(max-width: 767px){
    margin-bottom: 30px;
   }
}

.tour{
  b{
    font-size: 100px;
    color: #558860;
    margin-bottom: 20px;
    display: block;
    text-align: left;
    @media(max-width: 1600px){
      font-size: 80px;
     }
     @media(max-width: 767px){
      font-size: 50px;
     }
  }
  .tour-info{
    height: 720px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.38);
    @media(max-width: 1700px){
      height: 50vw;
     }
     @media(max-width: 767px){
      height: 60vw;
     }
  }
}

#map{
  height: 860px;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 100px;
  @media(max-width: 1700px){
    height: 50vw;
    margin-bottom: 80px;
   }
   @media(max-width: 767px){
    height: 70vw;
    margin-bottom: 30px;
   }
}

.swiper-pagination-bullet{
  background: white;
}

.swiper-button-next,  .swiper-button-prev{
  color: #558860;
}

.swiper-slide{
  display: flex;
  border-radius: 30px;
  height: 860px;
  @media(max-width: 1700px){
    height: 60vw;
   }
   @media(max-width: 767px){
    height: 65vw;
   }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
}

.inf{
  margin-bottom: 30px;
  > b{
    display: block;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 15px;
    @media(max-width: 767px){
      font-size: 22px;
     }
  }
  .inf-item{
    display: flex;
    align-items: center;
    background: #BBEAF4;
    border-radius: 40px;
    ul{
      display: flex;
      justify-content: space-around;
      flex-grow: 1;
      li{
        font-size: 50px;
        font-weight: 300;
        color: #1992B1;
        @media(max-width: 1600px){
          font-size: 40px;
         }
         @media(max-width: 1024px){
          font-size: 30px;
         }
         @media(max-width: 767px){
          font-size: 20px;
         }
         
      }
    }
    .icon{
      border-radius: 40px;
      background: white;
      @include flex;
      width: 150px;
      height: 150px;
      border-radius: 30px;
      @media(max-width: 1600px){
        width: 130px;
        height: 130px;
       }
       @media(max-width: 1024px){
        width: 100px;
        height: 100px;
       }
       @media(max-width: 767px){
        width: 50px;
        height: 50px;
       }
      img{
        margin: auto;
        @media(max-width: 1600px){
          width: 70px;
         }
         @media(max-width: 1024px){
          width: 50px;
         }
         @media(max-width: 767px){
          width: 25px;
         }
      }
    }
  }
}

.inf-items{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin: 70px 0;
  @media(max-width: 1200px){
    margin: 30px 0;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
   }
  @media(max-width: 767px){
    grid-template-columns: 1fr;
   }
   .inf{
    @media(max-width: 767px){
      margin-bottom: 0;
     }
   }
  .inf-item{
    display: flex;
    align-items: center;
    background: rgba(#FAFAFA, .7);
    border-radius: 40px;
    ul{
      li{
        font-size: 36px;
        color: #515151;
        @media(max-width: 1024px){
          font-size: 22px;
          line-height: 110%;
         }
      }
    }
    .blue-text{
      max-width: 290px;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      color: #1992B1;
      font-size: 30px;
      font-weight: 300;
      @media(max-width: 1024px){
        font-size: 22px;
       }
       @media(max-width: 767px){
        font-size: 18px;
       }
    }
    .icon{
      border-radius: 40px;
      background: white;
      @include flex;
      width: 130px;
      height: 130px;
      border-radius: 30px;
      @media(max-width: 1024px){
        width: 100px;
        min-width: 100px;
        height: 100px;
       }
       @media(max-width: 767px){
        width: 60px;
        height: 60px;
        min-width: 60px;
       }
      img{
        margin: auto;
        @media(max-width: 1024px){
          width: 50px;
         }
         @media(max-width: 767px){
          width: 30px;
         }
      }
    }
  }
}
